body{
  background-color: var(--background-color);
}


.kuhaku{
  position: relative;
  margin-bottom: 70px;
}

.title{
  text-align: center;
  margin-bottom: 50px;
  color: var(--text_collar);
}

.text{
  text-align: center;
}

.pwd_reset{
  font-size: 25px;
  text-align: center;
  margin-top: 70px;
}

.errorlist {
  list-style-type: none;
}

.but{
  margin-top: 20px;
  border: 1px solid rgb(123, 122, 122);
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  border-radius: 0.1rem;
  padding: 0.1rem 1rem;
}

.but:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.top_link{
  position: relative;
  top: 100px;
  right: 15px;
}