.title{
  position: relative;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.5rem;
  color:black;
  margin-left: 20%;
  top:85px;
  margin-bottom: 8%;
}

.pwd{
  /* text-align: center; */
  /* font-size: 1.5rem; */
  font-family: sans-serif;
  /* margin-right: 600px; */
}
 .text_table{
    position: relative;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.1em; 
    margin-left: 35%;
    /* right: 30px; */
    font-size: 24px;
    /* bottom: 30px; */
  } 
.lab {
  margin: 8px;
  
}

.but{
  margin-left: 70%;
  font-size: 22px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 3px;
  background: #f7f7f7;
  border: 0;
  border-left: solid 6px #58ad5a;
  color: #58ad5a;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
  top: 8px;
  text-decoration: none;
}

.but:hover{
  background-color: #93ca76; 
  color: black;
  background: -webkit-gradient(linear, left bottom, left top, from(#93ca76), to(#93ca76));
  background: -webkit-linear-gradient(bottom, #93ca76 0%, #93ca76 100%);
  background: linear-gradient(to top, #93ca76 0%, white 100%);
  transform: translateY(2);
}


.text_box{
  position: relative;
  top: 15px;
}


.user_information{
  position: relative;
  top: 18px;
}

.user_information th{
  position: relative;
  width:200px;
  text-align: left;
  
  /* border-spacing: 1px 0px; */
}
.user_information td{
  /* position:absolute; */
  /* width:250px; */
  width:450px;
  text-align: left;
 
}
.error{
  position: relative;
  /* bottom: 80px;  */
  font-size: 16px;
}
@media screen and (max-width: 1280px) {
  .title{
    position: relative;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5rem;
    color:black;
    margin-left: 20%;
    top:85px;
    margin-bottom: 9%;
  }
  .but{
    margin-left: 80%;
    font-size: 22px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 3px;
    background: #f7f7f7;
    border: 0;
    border-left: solid 6px #58ad5a;
    color: #58ad5a;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    top: 8px;
    text-decoration: none;
  }
}