.body{
  overflow-y: auto;
  background-color: var(--background-color);
  padding-left: 30vw;
  padding-top: 10vw;
}

h1{
  font-size: 34px;
  color:var(--text_coller);
  margin-left: 145px;
  margin-bottom: 70px;
}


.reset{
position: relative;
left: 334px;
font-size: 25px;
border: 6px double #fff;

}

.text{
  position: relative;
  right: 30px;
}

.text_box{
  position: relative;
  left: 34px;
}

.but{
  margin-left: 500px;
  margin-bottom: 60px;
  border: 1px solid rgb(123, 122, 122);
  margin-top: 20px;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;  
}

.but:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

