/* h2 {
  color: red; 
} */
html {
  height:100%;
}
body {
  height:100%;
}
.side_space {
  background-color:#ff838b;
  width:200px;
  height:300px;
  /* padding: auto; */
  /* padding: auto; */
  text-align:center;
  top:10px;
  position: -webkit-sticky;
  /* これが固定↑↓ */
  position: sticky;

} 

.main_space {
  background-color:#b3d874;
  width:800px;
  height: 1000px;
  text-align:center;
  margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}