<title>{{title}}｜情整君。</title>
{% block content %}
{% load static %}

<link rel ="stylesheet" 
  href="{% static 'jsk/css/password_reset_form.css' %}">


 <link rel ="stylesheet" 
        href="{% static 'jsk/css/back_collar.css' %}">

<hr class="kuhaku">

<h1 class="title">パスワード再発行</h1>

<p class="text">アカウントのメールアドレスを入力して送信ボタンを押してください。<br>
メールアドレスにパスワード変更ページのURLが記載されたメール, SMSを送信します。<br>
※メール, SMSを自動送信しますので、必ず受け取れる状態で変更手続きをお願いします。</p>


<form  class="pwd_reset" action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
        {% endfor %}
        {% csrf_token %}
        <button class="but" type="submit">送信</button>
      </div>
        <tr>
          <td>
            <a class="top_link" href="{% url 'jsk:top' %}">トップ画面へ</ahref>
            </td>
          </tr>
</form>
{% endblock %}