<title>{{title}}｜情整君。</title>
{% block content %}
{% load static %}

<h1>新規パスワードの入力</h1>

<link rel ="stylesheet" 
        href="{% static 'jsk/css/password_reset_confirm.css' %}">


 <link rel ="stylesheet" 
        href="{% static 'jsk/css/back_collar.css' %}">

<form class="reset" action="" method="POST">
    <ul>
        {% for user_error in form.username.errors %}
        <li>{{ user_error }}</li>
        {% endfor %}
        {% for pass_error in form.password2.errors %}
        <li>{{ pass_error }}</li>
        {% endfor %}
    </ul>
    <table>
        {% for field in form %}
        <tr>
            <td>
            <label for="{{ field.id_for_label }}">
                <td class="text" >
                    {{ field.label }}</label>
                </td>
            </td>
            <td class= "text_box">
                {{ field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
    <button class="but" type="submit">送信</button>
</form>
{% endblock %}