<title>{{title}}｜情整君。</title>
{% block content %}
{% load static %}

<link rel ="stylesheet" 
        href="{% static 'jsk/css/password_reset_done.css' %}">


<link rel ="stylesheet" 
        href="{% static 'jsk/css/back_collar.css' %}">

        
<!-- <h1 class="s"></h1> -->

<hr class="kuhaku">

<p class="text">
    入力いただいたメールアドレス宛に、パスワード変更メールを送信しました。<br>
    メールに記載されているリンクから再設定を行ってください。
</p>
<table>
    <button class="but"  type="button"  onclick=location.href="{% url 'jsk:login' %}">ログイン画面へ</button>
</table>


{% endblock %}