{% extends "jsk/base.html" %}
{% load static %}
{% block content %}

<link rel ="stylesheet" 
href="{% static 'jsk/css/password_change.css' %}">
<link rel ="stylesheet" 
  href="{% static 'jsk/css/note.css' %}">

<div class="note">

    <h2 class="title">パスワード変更画面</h2>
    
<div>

    <div>
        <div>
            <form class="pwd" action="" method="POST">
                {{ form.non_field_errors }}
                <table class= "text_table">
                {% for field in form %}
                <tr>
                  <td class="user_information">
                      <label class="lab" for="{{ field.id_for_label }}">{{ field.label_tag }}
                      </label>
                  </td>
                  <td class="text_box"> 
                    {{ field }}
                </td>
                <div class="error"> {{ field.errors }}</div>
            </tr>
                {% endfor %}
                <tr><td></td>
                    <td></td>
                </tr>
                <tr><td></td>
                    <td></td>
                </tr>
                <tr><td></td>
                    <td>
                    </table>
                    {% csrf_token %}
                         <button class="but"  type="submit">送信</button>
                    </td>
                </tr>
            </form>
        </div>
    </div>
</div>
{% endblock %}