{% block content %}
{% load static %}


{% if user.is_authenticated %}
{% else %}
<title>{{title}}</title>
    
<link rel ="stylesheet" 
        href="{% static 'jsk/css/top.css' %}">

<link rel ="stylesheet" 
        href="{% static 'jsk/css/back_collar.css' %}">

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

<body>
  <h1 class="name"><img src="{% static "tag.png" %}" width="225" height="225"></h1>
   
  <div class="flex">
    <button  class="but1" type="button"  onclick=location.href="{% url 'jsk:login' %}">ログイン</button>
    <button class="but2" type="button""
    onclick=location.href="{% url 'jsk:user_create_input' %}">アカウント登録</button>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>



</body>
<!--
<a href="{% url 'jsk:login' %}">ログイン</a>
<a href="{% url 'jsk:user_create_input' %}">アカウントを登録</a><hr>
-->
{% endif %}
{% endblock %}